.table {
    font-size: 14px; /* Adjust the font size as needed */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
  
  .table thead th {
    background-color: #056db6; /* Set the background color of the table header */
    border-bottom: none; /* Remove the bottom border of the table header */
    color: #fff;
  }
  
  .table tbody td {
    vertical-align: middle; /* Center the content vertically within table cells */
  }
  
  .table-rounded {
    border-collapse: separate;
  }
  
  .table-rounded thead th:first-child {
    border-top-left-radius: 0.25rem;
  }
  
  .table-rounded thead th:last-child {
    border-top-right-radius: 0.25rem;
  }

  .modal.fade.show {
    display: block;
  }
  
  .modal.fade.show .modal-dialog {
    transform: translate(0);
    transition: transform 0.3s ease-out;
  }
  
  .modal.fade.show .modal-content {
    opacity: 1;
  }
  
  .modal.fade.show .modal-header,
  .modal.fade.show .modal-footer {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  }
  
  .modal-backdrop {
    background-color: rgba(0,0,0,.4); /* Adjust the opacity and color as desired */
  }
  
  .modal.fade.show {
    opacity: 1;
    transition: opacity 0.3s ease-out;
  }

  img {
    border-radius: 50%;
    border: 1px solid black;
  }