<section class="section faq" id="faq">
    <div class="overlay">
        <div class="container" data-aos="fade-up">

            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center mb-5">
                        <h3 class="title mb-3">Questions fréquemment posées</h3>
                        <p class="text-muted font-size-15">Si vous avez des questions, nous avons la réponse. Nous avons
                            une
                            liste de questions fréquemment posées à notre sujet.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <!-- F.A.Q List 1-->
                    <div class="accordion accordion-flush" id="faqlist1">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq-content-1">
                                    Qu'est-ce que YAWI ? </button>
                            </h2>
                            <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                <div class="accordion-body">
                                    YAWI est une solution 100% africaine créée par COK-SERVICE qui vous permet de
                                    transférer de l’argent d’un wallet vers n’importe quel autre wallet instantanément.
                                    Mais aussi d’un wallet vers un compte bancaire.</div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq-content-2">
                                    Quelles sont les wallets disponibles ?
                                </button>
                            </h2>
                            <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                <div class="accordion-body">
                                    Les wallets disponibles sont: Orange Money, wave, free money, wizall.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq-content-3">
                                    Est-il possible de faire des envois multiples ?
                                </button>
                            </h2>
                            <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                <div class="accordion-body">
                                    Non l’option d’envoi multiples sera bientôt disponible. Pour le moment, pour chaque
                                    transfert vous avez un bénéficiaire. </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq-content-4">
                                    A combien s’élèvent les frais de service ?
                                </button>
                            </h2>
                            <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                <div class="accordion-body">
                                    Le transfert vous coûtera 3% par transaction quelque soit le wallet utilisé. Aucun
                                    frais supplémentaire.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6">

                    <!-- F.A.Q List 2-->
                    <div class="accordion accordion-flush" id="faqlist2">

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq2-content-1">
                                    Est-ce la plateforme est sûre ?
                                </button>
                            </h2>
                            <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                <div class="accordion-body">
                                    La plateforme YAWI est une solution développée par COK-SERVICE qui est certifié PCI
                                    DSS level 1. Vos transactions sont sécurisées à 100%. La protection des données
                                    figure également au cœur de notre action.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq2-content-2">
                                    Avec quelle devise les transactions peuvent s’effectuer ?
                                </button>
                            </h2>
                            <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                <div class="accordion-body">
                                    La devise utilisée est le FCFA.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq2-content-3">
                                    Combien puis-je envoyer par transaction ?
                                </button>
                            </h2>
                            <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                <div class="accordion-body">
                                    Le minimum que vous pouvez envoyer est 500 Fcfa. Le maximum dépend du plafond
                                    autorisé par les wallets sélectionnés pour envoyer et recevoir.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq2-content-4">
                                    Comment puis-je annuler une transaction ?
                                </button>
                            </h2>
                            <div id="faq2-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                <div class="accordion-body">
                                    Pour annuler une transaction, il faut contacter dès constatation de votre erreur le
                                    support de YAWI au +221 77 156 71 90. L’équipe vous guidera afin que vous puissiez
                                    annuler la transaction à condition que l’argent transféré ne soit retiré par le
                                    bénéficiaire. </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>