.icon-image {
  width: 20px;
  height: 20px;
}
.input-group-text {
  background-color: #fbfafd !important;
}
.logo-icon {
  border-radius: 50%;
  margin-right: 2px;
}
.disabled-button {
  opacity: 0.5; /* Adjust the opacity value as desired */
}