.custom-select {
    position: relative;
    display: inline-block;
}

.custom-select select {
    display: none;
}

.option-image {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}