<div class="dropdown">
    <button class="form-control dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
        aria-expanded="false">
        <span *ngIf="!selectedImage">Select an image</span>
        <img [src]="selectedImage" [alt]="selectedImageAlt" *ngIf="selectedImage" width="24" height="24">
        {{ selectedImageAlt }} </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li class="dropdown-item" *ngFor="let option of imageOptions" (click)="onSelectImage(option)">
            <img [src]="option.imagePath" [alt]="option.altText" width="24" height="24"> {{ option.altText }}
        </li>
    </ul>
</div>