.logo-font {
    display: inline-block;
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    font-weight: bolder;
}
::ng-deep .custom-popover {
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #ccc;
  }
  
  ::ng-deep .custom-popover .popover-header {
    background-color: #ddd;
    color: #555;
    padding: 10px;
    font-weight: bold;
  }
  
  ::ng-deep .custom-popover .popover-body {
    padding: 10px;
  }
  